body {
    margin: 60px auto;
    width: 460px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #726b63;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: .8em;
    line-height: 1em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts li {
    list-style: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
