@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400,100);
body {
  padding:0; margin:0;
  background-color:#f9f9f9;
  font: 100 1em/1.7em "Helvetica", arial, sans-serif;
  color:#555;
}
nav {
  position: fixed;
  left:0; top:0;
  height:auto;
  width:100%;
  background-color:#ffffff;
  z-index: 100;
}
nav a {
  display:inline;
  color:steelblue;
  text-transform:uppercase;
  font-weight:100;
  font-size:.8em;
  padding:.6em 1.3em;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
nav li {
  display: inline-block;
}
nav a#home {
  background-color:#333;
  color:#e5e5e5;
}
nav a#tut-title {
  background-color:#e5e5e5;
  color:#666666;
  font-weight:100;
}
nav a:hover {
  color:#111111;
  border:none;
}

#social {
  float: right;
  display:inline-block;
}

#tutorial-nav {
  margin:0;padding:0;
  float:left;
  list-style-type: none;
}
#tutorial-nav li {
  float:left;
}
.container {
  margin:auto;
  max-width:650px;
  padding:50px 10px;
}
a {
  color:steelblue;
  text-decoration:none;
}
a:hover {
  border-bottom:1px solid steelblue;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  line-height:1.2em;
}
h1, h2 {
  margin-left:-20px;
  padding-left:18px;
}
h1 {
  font-size:2.2em;
  margin-top:40px;
  border-left:2px solid steelblue;
}
h2 {
  color:#666666;
  border-left:2px solid #c7d9e8;
}
h3, h4 { color:#888888; }
blockquote {
  font-family: 'Roboto Slab', serif;
  font-size:1.8em;
  line-height:1.2em;
  color:#c0c0c0;
  font-weight:100;
  margin:0;
}
img {
  display:block;
  margin:auto;
  width:100%;
}
p code,
li code {
  font-size: 1.3em;
  color: black;
  background: white;
  padding: 2px 5px;
}
aside {
  font-family: 'Roboto Slab', serif;
  font-size:.9em;
  font-weight:400;
  line-height:1.4em;
  padding:10px;
  background:#333;
  color:#f6f6f6;
}
@media (min-width:650px) {
  aside {
    float:right;
    width:40%;
    margin:.8em 0 .8em 1em;
  }
}
.highlight pre {
  padding:10px;
  line-height:1.2em;
}
#tut-list {
  margin:20px 0 0;
  padding:20px 0 0;
  border-top:1px solid #e5e5e5;
  list-style-type: none;
}
#tut-list li {
  margin-bottom:.8em;
  line-height:1.1em;
  color:#c0c0c0;
}
h1.tutorial-title {
  font-size:3em;
  line-height:1.2em;
  margin:0;
  border:none;
  padding:30px 0 0;
}
.tutorial .date {
  font-size:.9em;
  text-transform:uppercase;
}
.gist {
  margin-top:10px;
}

/*
- - - - - - - -
COLLAPSE
- - - - - - - -
*/
.collapse-button {
  font-weight:900;
  color:steelblue;
  cursor:pointer;
}
.collapse-button:hover {
  color:#333;
}
.collapse {
  display:none;
  padding:1px 20px;
  background-color:#ffffff;
}
