# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Christy Heaton - Software Engineer
email: christyheaton@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Software engineer and technical communicator focused on software development, clean data, and beautiful visualizations. 
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://christyheaton.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  christyheaton

locale: "en-US"

# Build settings
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "contrast" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
#theme: minima

# Custom styling
sass:
  sass_dir: _sass
  style: compressed

plugins:
  - jekyll-feed
  - jekyll-include-cache
  
include:
  - _pages
  
# Site settings
title: "Christy Heaton"
title_separator: "|"
subtitle: "Software Engineer & Technical Communicator"
email: christyheaton@gmail.com
description: Christy Heaton, Software Engineer & Technical Communicator
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://christyheaton.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: christytoes
github_username:  christyheaton
repository: "christyheaton/christyheaton.github.io"

  
# Author Profile
author:
  name             : "Christy Heaton"
  avatar           : "assets/images/Christy.jpg"
  bio              : "Software Engineer & Technical Communicator"
  location         : "Seattle, WA"
  email            : christyheaton@gmail.com
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "christyheaton"
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  mastodon         : "https://mas.to/@christyheaton"
  linkedin         : "christyheaton"
  pinterest        :
  soundcloud       :
  stackoverflow    :
  steam            :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  xing             :
  youtube          :


# Site Footer
footer:
  links:
    - label: "Mastodon"
      icon: "fab fa-fw fa-mastodon"
      url: "https://mas.to/@christyheaton"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://linkedin.com/in/christyheaton"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/christyheaton"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Post Formatting
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: false
      share: false
      related: false
      show_date: true
      sidebar:
        nav: "my_sidebar"
  #pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: true
      share: false
      related: false
      sidebar:
        nav: "my_sidebar"
  #_portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
